@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@mixin flexCenter($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: wrap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M528.76 104.69L533.34 104.69L533.34 109.27L528.76 109.27z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M405.35 110.28a32.78 32.78 0 1 0 9.13-64.92z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1221.11 556.94 a49.85 49.85 0 1 0 99.7 0 a49.85 49.85 0 1 0 -99.7 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1420.88 58.74L1448.43 58.74L1448.43 113.57L1420.88 113.57z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1340.25 468.87a25.76 25.76 0 1 0 47.84-19.12z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M742.2 65.58L746.66 65.58L746.66 100.82L742.2 100.82z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M53.04 91.7 a36.38 36.38 0 1 0 72.76 0 a36.38 36.38 0 1 0 -72.76 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1010.8 277.92L1058.09 277.92L1058.09 322.07L1010.8 322.07z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1236.04 236.16 a0.16 0.16 0 1 0 0.32 0 a0.16 0.16 0 1 0 -0.32 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1188.55 347.75 a29.52 29.52 0 1 0 59.04 0 a29.52 29.52 0 1 0 -59.04 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1366.74 510.11 a45.6 45.6 0 1 0 91.2 0 a45.6 45.6 0 1 0 -91.2 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M987.06 144.47L1005 144.47L1005 200.18L987.06 200.18z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M432.21 31.46L457.46 31.46L457.46 53.96L432.21 53.96z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1238.22 139L1256.85 139L1256.85 157.63L1238.22 157.63z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M545.03 154.04 a19.71 19.71 0 1 0 39.42 0 a19.71 19.71 0 1 0 -39.42 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M887.98 503.91L932.17 503.91L932.17 545.92L887.98 545.92z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M112.22 99.65a17.49 17.49 0 1 0 21.06-27.93z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M946.55 163.6 a0.25 0.25 0 1 0 0.5 0 a0.25 0.25 0 1 0 -0.5 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M194.21 117.71L203.8 117.71L203.8 140.08L194.21 140.08z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M989.59 282.67a1.38 1.38 0 1 0-1.83 2.07z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M475.15 190.01L519.44 190.01L519.44 234.3L475.15 234.3z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M176.47 509.04a38.8 38.8 0 1 0-42.12 65.17z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M824.49 242.01L853.75 242.01L853.75 274.18L824.49 274.18z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1252.55 204.46L1294.34 204.46L1294.34 246.25L1252.55 246.25z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1039.73 69.95L1052.11 69.95L1052.11 82.33L1039.73 82.33z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M807.67 502.58a34.59 34.59 0 1 0 48.2-49.62z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M250.9 194.07 a48.15 48.15 0 1 0 96.3 0 a48.15 48.15 0 1 0 -96.3 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1271.66 18.87L1293.75 18.87L1293.75 40.96L1271.66 40.96z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1094.09 191.58L1111.65 191.58L1111.65 205.29L1094.09 205.29z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M257.73 54.97a38.86 38.86 0 1 0-3.39 77.64z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M555.59 404.92 a27.59 27.59 0 1 0 55.18 0 a27.59 27.59 0 1 0 -55.18 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M371.81 170.82L380.89 170.82L380.89 179.9L371.81 179.9z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M665.72 313.25L688.31 313.25L688.31 367.97L665.72 367.97z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//style for Header component
.header {
  margin-bottom: 100px;
  width: 100%;
  @include flexCenter(space-around, row);
  .logo {
    color: white;
    padding: 0 1rem;
  }
  .inputSection {
    @include flexCenter(center, row);
    input {
      width: 300px;
      font-size: 24px;
      padding: 0.7rem 1rem;
      border: none;
      border-radius: 10px;
      color: #1f2633;
      box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) inset;
      &::placeholder {
        color: rgb(112, 112, 112);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .createPost {
    width: 300px;
    height: 70px;
    margin-top: 10px;
    padding: 0 1rem;
    @include flexCenter(center, row);
    button {
      width: 100%;
      text-align: center;
      font-size: 22px;
      font-weight: 450;
      padding: 0.9rem 0.8rem;
      border-radius: 15px;
      border: none;
      box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1) inset;
      background-color: #264494;
      color: white;
      transition: margin 0.2s linear;
      cursor: pointer;
      &:hover {
        background-color: #173383;
        margin-top: -7px;
      }
    }
  }
  .category {
    @include flexCenter(center, row);
    .navLink {
      padding: 0 1rem;
      @include flexCenter(center, row);
      span {
        font-size: 20px;
        color: white;
        font-weight: 500;
        padding: 1rem;
        cursor: pointer;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}

//style for recentPostContainer
img {
  width: 100px;
}
.recentPostContainer {
  background-color: white;
  width: 60%;
  margin: 40px auto;
  border-radius: 20px;
  overflow: hidden;
  @include flexCenter(center, column);
  position: relative;

  .image {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .specialImage {
    // border: 3px solid red;
    position: absolute;
    top: 315px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      outline-offset: 4px;
      outline: 2px solid #173383;
      z-index: 1;
    }
  }
  .authorInfoAndDate {
    width: 80%;
    @include flexCenter(space-between, row);
    .authorInfo {
      padding: 1rem;
      @include flexCenter(center, row);
      margin-top: 10px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        margin-left: 9px;
        font-weight: bolder;
        color: #3f579b;
      }
    }
  }
  .date {
    padding: 1rem;

    span {
      font-weight: bold;
      color: #1f2633;
      margin-right: 9px;
      margin-top: 5px;

      &:first-child {
        font-size: 20px;
        color: #96419e;
      }
    }
  }
  .postTitle {
    padding: 0.3rem 1rem;
    h2 {
      color: rgb(51, 51, 51);
      cursor: pointer;
      &:hover {
        color: #9728a1;
      }
    }
  }
  .postContent {
    padding: 0rem 1rem;
    p {
      color: #4b5563;
      font-size: 20px;
      word-wrap: break-word;
    }
  }
  .linkToFullPost {
    margin-bottom: 20px;
    height: 50px;
    button {
      width: 250px;
      font-size: 23px;
      padding: 0.8rem 0.7rem;
      border-radius: 20px;
      border: none;
      background-color: #173383;
      box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) inset;
      color: white;
      transition: margin 0.2s linear;
      cursor: pointer;
      &:hover {
        background-color: #96419e;
        margin-top: -7px;
      }
    }
  }
}

//Style for footer
.footer {
  width: 100%;
  height: 40vh;
  @include flexCenter(center, column);
  color: white;
}

.postDetailsContainer {
  @extend .recentPostContainer;
  .image {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .authorInfoAndDate {
    @include flexCenter(flex-start, row);
  }
  .authorInfo {
    padding-left: 2rem;
    margin-right: 50px;
  }
  .date {
    margin-top: 5px;
  }
  .postContent {
    padding: 1rem 2rem;
  }
  .postTitle {
    padding: 1rem;
    h1 {
      width: 100%;
      margin: 15px auto;
      color: rgb(51, 51, 51);
    }
  }
}

//style for Comments component

.commentsContainer {
  background-color: white;
  width: 60%;
  margin: 20px auto;
  padding: 1rem 0;
  .comment {
    padding: 1.5rem 3rem;
    margin: 20px;
    box-shadow: 0 0 3px 1px #173383 inset;
    border-radius: 10px;
    span {
      color: #1f2633;
      font-size: 15px;
      font-weight: bolder;
    }
    p {
      color: #4b5563;
    }
  }
}

//style for CommentForm component

.commentForm {
  width: 70%;
  margin: 20px auto;
  @include flexCenter(center, column);
  background-color: white;
  padding: 1rem 1.3rem;
  .email {
    input {
      width: 300px;
      font-size: 23px;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      border: 1px solid #173383;
      &::placeholder {
        color: rgb(148, 146, 146);
      }
      &:focus {
        outline: none;
        border: 2px solid #173383;
      }
    }
  }
  .textarea {
    margin: 5px auto;
    textarea {
      width: 500px;
      height: 200px;
      // border: 2px solid green;
      border-radius: 10px;
      padding: 1rem;
      font-size: 20px;
      color: #1f2633;
      resize: none;
      border: 1px solid #173383;

      &:focus {
        outline: none;
        border: 2px solid #173383;
      }
    }
  }

  .submit {
    width: 300px;
    height: 70px;
    margin: 10px auto;
    @include flexCenter(center, row);
    button {
      width: 200px;
      font-size: 22px;
      padding: 0.6rem 1rem;
      border: none;
      cursor: pointer;
      background-color: #173383;
      border-radius: 5px;
      color: white;
      transition: transform 0.2s linear;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

//style for createNewPost component
.createNewPost {
  width: 70%;
  margin: 30px auto;
  background-color: white;
  @include flexCenter(center, column);
  padding: 1rem 1rem;
  h1 {
    color: #284596;
  }

  .title {
    width: 100%;
    @include flexCenter(center, row);
    input {
      width: 50%;
      margin: 15px auto;
      font-size: 25px;
      color: #1f2633;
      padding: 0.7rem 1rem;
      border: none;
      border: 1px solid #173383;
      &:focus {
        outline: none;
        border: 2px solid #4b6ecc;
      }
      &::placeholder {
        color: rgb(94, 93, 93);
      }
    }
  }
  .userName {
    @extend .title;
  }
  .textarea {
    margin-bottom: 20px;
    width: 100%;
    textarea {
      width: 50%;
      height: 100px;
      border: 1px solid #173383;
      resize: none;
      padding: 1rem;
      @include flexCenter(center, row);
      margin: 10px auto;
      font-size: 22px;
      color: rgb(94, 93, 93);

      &:focus {
        outline: none;
        border: 2px solid #4b6ecc;
      }
    }
  }
  .imageAndCategory {
    width: 50%;
    @include flexCenter(flex-start, row);
    .image {
      margin-left: 30px;
      input {
        width: 120px;
        font-size: 20px;
        margin: 0 auto;
        border: none;
        border: 1px solid #173383;
        border-radius: 10px;
        overflow: none;
      }
    }
    .category {
      margin: 10px auto;
      margin-left: 20px;
      select {
        width: 230px;
        font-size: 20px;
        padding: 1rem;
        color: #173383;
        border: 1px solid #173383;

        option {
          color: grey;
        }
      }
    }
  }
  .progress {
    margin: 10px auto;
    progress {
      width: 250px;
      height: 27px;
    }
  }
  button {
    width: 230px;
    font-size: 25px;
    margin: 15px auto;
    padding: 0.6rem 1rem;
    border: 2px solid #173383;
    cursor: pointer;
    border-radius: 5px;
    color: #173383;
    background-color: white;
    transition: background-color 0.4s linear;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 60px;
    &:hover {
      transform: scale(1.1, 1.1);
      // border: 2px solid purple;

      background-color: #173383;
      color: white;
    }
  }
}
//style for Error components
.error {
  width: 100%;
  height: 80vh;
  @include flexCenter(center, row);
  h1 {
    font-size: 50px;
    padding: 1rem;
    color: white;
  }
}

@media screen and (max-width: 850px) {
  .commentForm {
    width: 90%;
    .textarea {
      margin: 5px auto;
      textarea {
        width: 400px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .recentPostContainer {
    width: 100%;
    border-radius: 0;
    margin: 0px auto;
    margin-bottom: 40px;

    .authorInfoAndDate {
      width: 100%;
    }
  }
  .postDetailsContainer {
    width: 100%;
    border-radius: 0;
    margin: 0px auto;
    margin-bottom: 40px;
  }
  .commentsContainer {
    width: 100%;
    .comment {
      padding: 1rem 2rem;
    }
  }
  .commentForm {
    width: 90%;
    .textarea {
      margin: 5px auto;
      textarea {
        width: 300px;
      }
    }
  }
  .createNewPost {
    width: 100%;
    // .title {
    // width: 100%;
    //   @include flexCenter(center, row);
    //   input {
    //     // width: 300px;
    //   }
    // }
    .imageAndCategory {
      width: 70%;
      @include flexCenter(center, column);
      .image {
        margin-left: 0px;
        margin-bottom: 10px;
      }
      .category {
        margin-left: 0px;
        margin: 10px auto;
        @include flexCenter(center, column);
      }
    }
  }
  //style for Error components
  .error {
    width: 100%;
    height: 80vh;
    @include flexCenter(center, row);
    h1 {
      font-size: 50px;
      padding: 1rem;
      color: white;
    }
  }
}
